@import '../../../styles/customMediaQueries.css';

.root {
  composes: marketplaceModalFormRootStyles from global;
}

.email {
  margin-top: 22px;

  @media (--viewportMedium) {
    margin-top: 22px;
  }
}

.bottomWrapper {
  composes: marketplaceModalBottomWrapper from global;
  margin-top: 45px;
}

/* Adjust the bottomWrapper's margin to match modals without the helper text */
.bottomWrapperText {
  composes: marketplaceModalBottomWrapperText from global;
}

/* Helper links */
.modalHelperLink {
  composes: marketplaceModalHelperLink from global;
}

/* Helper texts for the links, not the actual links */
.modalHelperText {
  composes: marketplaceModalHelperText from global;
}

.signUpBtn {
  border-radius: 100px;
  background: #383f52;
  margin-bottom: 14px;
  &:hover {
    background: var(--marketplaceColorDark);
  }
  &:focus {
    background: var(--marketplaceColorDark);
  }
}